{{- $img := .Page.Resources.GetMatch .Destination -}}
{{- if and (not $img) .Page.File -}}
{{ $path := path.Join .Page.File.Dir .Destination }}
{{- $img = resources.Get $path -}}
{{- end -}}
{{- with $img -}}

{{ $imageWidth := .Width }}
{{ $imageHeight := .Height }}

{{- $large := $img}}

{{ if gt $imageHeight $imageWidth }}

{{- $large := $img.Resize "x800  jpg q90" -}}

{{ else }}

{{- $large := $img.Resize "x800  jpg q90 r180" -}}

{{ end }}

<figure class="md__image">
    <a  href="{{$img.RelPermalink}}">



    <img src="{{ $large.RelPermalink | safeURL }}" alt="{{ $.Text }}" {{ with .Title }} title="{{ . }}"{{ end }} />
</a>
    <figcaption>
        <h4>
            {{$.Text}}
        </h4>
    </figcaption>
</figure>

{{- end -}}
