<!DOCTYPE html>
<html lang="cs">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
  <title>{{ .Title }}</title>



  {{ if .HasShortcode "leaflet-map" }}
    {{ partial "leaflet-loader" . }}
{{ end }}


  {{ with resources.Get "sass/main.scss" | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
{{ end }}
</head>
<body>
  <div class="navbar">
    <nav class="container">
      <ul>
        <li><a href="/posts">Blog</a></li>
        <li><a href="/aboutme">About me</a></li>
      </ul>
    </nav>
  </div>

  <main>
    {{ block "main" . }}{{ end }}
</main>
  

</body>
</html>
