<!DOCTYPE html>
<html>
<head>
  <title>{{ .Title }}</title>
  {{ with resources.Get "sass/main.scss" | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
{{ end }}
</head>
<body>
  <div class="navbar">
    <nav class="container">
      <ul>
        <li><a href="/posts">Blog</a></li>
        <li><a href="#">About me</a></li>
      </ul>
    </nav>
  </div>

  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WVGTMTY567"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-WVGTMTY567');
</script>

  <main>
    {{ block "main" . }}{{ end }}
</main>
  

</body>
</html>
