{{ define "main" }}
<div class="container list">


  {{ range .Pages }}
  <div class="article-card">
    <a href="{{ .Permalink }}">
    <div class="article-header">
      <h2 class="article-title">{{ .Title }}</h2>
      <div class="des">
      <span class="article-date">Datum uveřejnění: {{.PublishDate.Format "2.01.2006"}}</span> / 
      <span class="article-reading-time">Doba čtení:  {{ .ReadingTime }} 
        {{if (lt .ReadingTime 4 )}}
         minuty
        {{else}} minut {{end}}</span>
      </div>
    </div>
    <div class="article-content">
      {{.Summary }}
    </div>
  </div>
</a>
    {{ end }}
    </div>
    <filler>
.
    </filler>

{{ end }}