{{ $uniqueID := delimit (shuffle (seq 10)) "" }}

{{/* HTML scaffolding. Content will be loaded in the JS below */}}
<section id="container-{{ $uniqueID }}" class="gpx">
  <div class="map" id="map-{{ $uniqueID }}"></div>
  <footer>
    {{- $.Scratch.Set "counter" 0 }}
    {{ $len := len .Params }}
    {{ $colors := site.Params.gpx.trackColors | default (slice "blue" "darkblue" "purple")}}
    {{ range .Params }}
      <ul class="info">
        <li><input type="checkbox" checked class="tracks" track-id="{{ $.Scratch.Get "counter" }}"/></li>
        <li style="color:{{ index $colors (mod ($.Scratch.Get "counter") (len $colors))}}">&#9632;</li>
        <!-- label indices start from 1 -->
        {{- $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
        <li>{{ if gt $len 1 }}Track {{$.Scratch.Get "counter" }}: {{ end }}</li>
        <li class="start-{{$uniqueID}}-{{ . }}"></li>
        <li class="distance-{{$uniqueID}}-{{ . }}"></li>
        <li class="duration-{{$uniqueID}}-{{ . }}"></li>
        <li class="elevation-{{$uniqueID}}-{{ . }}"></li>
        <li><a href="{{ . }}">Download</a></li>
      </ul>
    {{ end }}
  </footer>
</section>

<script>
  var urls = new Array({{ range .Params }}{{ . }},{{ end }})
  var mapid = "map-{{ $uniqueID }}";
  var container = document.getElementById("container-{{ $uniqueID }}");
  var colors = {{ site.Params.gpx.trackColors | default (slice "blue" "darkblue" "purple")}};
  var layers = new Array();
    
  // Create map and layers
  var map = L.map(mapid, { fullscreenControl: true, scrollWheelZoom: false });
  {{ $layers := site.Params.gpx.layers }}
  
  // If no layers are specified fall back to default (OpenStreetMap)
  {{ if eq $layers nil }}
  {{ $layers = site.Params.gpx.layers | append (dict "url" "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png" "attribution" "© <a href=\"https://www.openstreetmap.org/copyright\">OpenStreetMap</a> contributors") }}
  {{ end }}
  
  {{ range $layers }}
  createLayer({{ .url }}, {{ .attribution | default "" }}, {{ .minZoom | default 1 }}, {{ .maxZoom | default 20}}, {{ .bounds }}, {{ .inverseBounds }}).addTo(map);
  {{ end }}

  var control = L.control.layers(null, null).addTo(map);
  var bounds = null;
  urls.forEach(function(url, index) {
    addTrack(urls[index], index, map, {{$uniqueID}});
  });
  
  
  // Event listeners to toggle visibility of each track
  document.querySelectorAll(".tracks").forEach(function(item) {
    item.addEventListener("click", function() {
      var id = this.getAttribute("track-id");
      if (event.currentTarget.checked) {
        showTrack(id);
      } else {
        hideTrack(id);
      }
    })
  });
  

</script>
